<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
	integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
	<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
	<script>
		var address = document.querySelector('.address').textContent;
	
		fetch(`https://nominatim.openstreetmap.org/search?format=json&q=${address}`)
			.then(response => response.json())
			.then(data => {
				if (data.length > 0) {
					var lat = data[0].lat;
					var lon = data[0].lon;
	
					var map = L.map('map').setView([lat, lon], 13);
					L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
						maxZoom: 19,
						attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
					}).addTo(map);
	
					var marker = L.marker([lat, lon]).addTo(map);
				}
			});
	</script>