<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="web">
	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap4" />

	<link href="/product/css/bootstrap.min.css" rel="stylesheet">
	<link href="/product/css/style.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<link href="/product/css/tiny-slider.css" rel="stylesheet">
	<link rel="shortcut icon" href="/product/images/avatar.jpg">

	<title>EZB | Trang chủ</title>


	
	<style>
		.dropdown:hover .dropdown-menu {
			display: block;
		}

		.dropdown .dropdown-toggle:active {
			pointer-events: none;
		}
	</style>
