<script src="/product/js/bootstrap.bundle.min.js"></script>
<script src="/product/js/tiny-slider.js"></script>
<script src="/product/js/custom.js"></script>
<script src="/product/js/app.js"></script>
<script>
	var address = document.querySelector('.address').textContent;

	fetch(`https://nominatim.openstreetmap.org/search?format=json&q=${address}`)
		.then(response => response.json())
		.then(data => {
			if (data.length > 0) {
				var lat = data[0].lat;
				var lon = data[0].lon;

				var map = L.map('map').setView([lat, lon], 13);
				L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
					maxZoom: 19,
					attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
				}).addTo(map);

				var marker = L.marker([lat, lon]).addTo(map);
			}
		});
</script>
<script>
	function changeImage(clickedImage) {
		var mainImage = document.getElementById("mainImage");
		mainImage.src = clickedImage.src;
	}
</script>