<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark"
arial-label="EzBooking navigation bar">
<div class="container">
    <!-- <a class="navbar-brand" href="index.html">EzBooking</a> -->
    <a href="/home"><img src="/product/images/logo.png" alt="Logo" class="img-fluid" style="width: 20%; height: auto;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsEzBooking"
        aria-controls="navbarsEzBooking" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsEzBooking">
        <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
            <li ><a class="nav-link" href="/home">Trang chủ</a></li>
            <li><a class="nav-link" href="/about">Về chúng tôi</a></li>
            <li><a class="nav-link" href="/contact">Liên hệ</a></li>
            <li class="nav-item active">
                <a class="nav-link" href="/shop">Cho thuê</a>
            </li>
            <li><a class="nav-link" href="/blog">Bài Đăng</a></li>
            <li class="dropdown">
                <a class="nav-link"><img src="/product/images/user.svg"></a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="/least">Đăng bài cho thuê</a></li>
                  <li><a class="dropdown-item" href="/vehicle">Quản lí xe cho thuê</a></li>
                  <li><a class="dropdown-item" href="/contract">Lịch sử họp đồng</a></li>
                  <li><a class="dropdown-item" href="/profile">Thông tin cá nhân</a></li>
                  <li><a class="dropdown-item" href="/login/out">Đăng xuất</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</nav>