<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="EzBooking navigation bar">
    <div class="container">
        <!-- <a class="navbar-brand" href="index.html">EzBooking</a> -->
        <a href="/guest/home" style="width: 100px;"><img src="/product/images/logo.png" alt="Logo" class="img-fluid"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsEzBooking"
            aria-controls="navbarsEzBooking" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsEzBooking">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li><a class="nav-link" href="/guest/home">Trang chủ</a></li>
                <li><a class="nav-link" href="/guest/about">Về chúng tôi</a></li>
                <li><a class="nav-link" href="/guest/contact">Liên hệ</a></li>
                <li class="nav-item active">
                    <a class="nav-link" href="/guest/shop">Cho thuê</a>
                </li>
                <li><a class="nav-link" href="/guest/blog">Bài Đăng</a></li>
                <li class="dropdown">
                    <a class="nav-link" href="javascript:guestAlert('/login')"><img src="/product/images/user.svg"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>